body{
    font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
.heading{
    color: rgb(234, 250, 12) !important;
    text-transform: uppercase;
}
.carousel-caption{
    bottom: 250px;
    padding-left: 85px;
}
a{
    text-decoration: none;
}